################################################################################################################################################################

# @project        Open Space Toolkit ▸ I/O
# @file           requirements.txt
# @author         Lucas Brémond <lucas@loftorbital.com>
# @license        Apache License 2.0

################################################################################################################################################################

# --index-url https://test.pypi.org/simple/

open-space-toolkit-core==0.3.3.60

################################################################################################################################################################
