################################################################################################################################################################

# @project        Open Space Toolkit ▸ I/O
# @file           binder/requirements.txt
# @author         Lucas Brémond <lucas@loftorbital.com>
# @license        Apache License 2.0

################################################################################################################################################################

pandas

plotly
ipympl

jupyterlab_launcher>=0.5.0

open-space-toolkit-io>=0.3.0

################################################################################################################################################################
